doctype html
html(lang="en")
    include templates/head.pug

    body
        include templates/header.pug
        include templates/smallHero.pug

        main#main
            // ======= Contact Section =======
            section#start.contact
                .container
                    .row
                        div(data-aos="fade-right")
                            .section-title
                                h2=title
                                p=message

        // ======= Footer =======
        include templates/footer.pug
