section(id="hero", class="d-flex align-items-center")
    .container.text-center.position-relative(data-aos="fade-in", data-aos-delay="200")
        h1 The Best Way to Sign Files
        h2 Powered by Carmentis
        a.btn-get-started.scrollto(href="#start") Get Started
