header(id="header", class="fixed-top d-flex align-items-center")
    .container
        .header-container.d-flex.align-items-center.justify-content-between
            .logo
                h1.text-light
                    a(href="/")
                        span FileSign

            nav(id="navbar", class="navbar")
