section#hero.d-flex.align-items-center(style="height:300px")
    .container.text-center.position-relative(data-aos="fade-in" data-aos-delay="200")
        h1 The Best Way to Sign Files
        h2 Powered by Carmentis
